<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>About Us</h1>
			<p>Who are we? We're glad you asked.</p>
			<p>Lorem ipsum dolor sit amet, ne pro legere ocurreret sententiae. Graeci vidisse appellantur ut mei. Eripuit dolorum sensibus eum ad. Cum meis timeam in, cum et nonumy vidisse probatus, cu autem posidonium sed. Molestiae consectetuer cu his, ea cum ancillae percipit.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1>Our Team</h1>
			<p>Here are the folks who keep this company afloat with their hard work and dedication.</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<img class="img-circle img-responsive img-center img-about" src="/assets/Sake.png" alt="Sake - President">
			<h2>Sake     <small>Marketing</small></h2>
			<p>Miss Sake has been with Sweet Incendiaries since its inception.</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<img class="img-circle img-responsive img-center img-about" src="/assets/Sushi.png" alt="Sushi - Complaints">
			<h2>Sushi     <small>Director of Complaints</small></h2>
			<p>Mister Sushi is a skilled orator and never tires of the sound of his own voice.</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<img class="img-circle img-responsive img-center img-about" src="/assets/Nori.png" alt="Nori - Intern">
			<h2>Nori     <small>Intern</small></h2>
			<p>The newest addition, Miss Nori brings boundless enthusiasm to the team.</p>
		</div>
	</div>

</div>
