
<div id="carousel-example-generic" data-ride="carousel" data-interval="4000" data-pause="false" class="carousel slide carousel-fade">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/Candle1.png" alt="Welcome">
      <div class="carousel-caption">
        <h1>Welcome to Sweet Incendiaries</h1>
        <h2>100% soy candles handmade in Denver, Colorado.</h2>
        <h2>Use code "SWEET" at checkout for free shipping!</h2>
      </div>
    </div>
    <div class="item">
      <img src="assets/Candle2.png" alt="Welcome">
      <div class="carousel-caption">
        <h1>From the Earth</h1>
        <h2>Unlike parafin, soy candles are made from a renewable resource.</h2>
        <h2>They also burn longer, sparing both the environment <strong>and</strong> your wallet.</h2>
      </div>
    </div>
    <div class="item">
      <img src="assets/Candle3.png" alt="Welcome">
      <div class="carousel-caption">
        <h1>Unique and Customizable</h1>
        <h2>Love the rustic look of mason jars?</h2>
        <h2>Create a candle that inspires you.</h2>
      </div>
    </div>
    <div class="item">
      <img src="assets/Candle4.png" alt="Welcome">
      <div class="carousel-caption">
        <h1>Sweet Scents</h1>
        <h2>We have a catalogue of over a hundred fragrances.</h2>
        <h2>Find the one that's perfect for you.</h2>
      </div>
    </div>
  </div>
</div>
