%h1 Checkout

%h3 You are checking out the following products:

%ul
	-@cart.items.each do |item|
		%li
			%em=item.quantity
			=item.product.name
			=number_to_currency item.total_price

%p
	%strong
		Total price:
		=number_to_currency @cart.total_price

=form_for @order_form, url: orders_path do |f|
	=render "orders/errors"
	.well
		%h3 Your Personal Details:
		=f.fields_for :user, f.object.user do |u|
			.form-group
				.row
					%p.col-md-6=u.text_field :name, placeholder: "Name", class: "form-control"
					%p.col-md-6=u.text_field :email, placeholder: "Email", class: "form-control"
					%p.col-md-6=u.text_field :address, placeholder: "Address", class: "form-control"
					%p.col-md-3=u.text_field :city, placeholder: "City", class: "form-control"
					%p.col-md-3=u.text_field :us_state, placeholder: "State", class: "form-control"
					%p.col-md-3=u.text_field :postal_code, placeholder: "Postal code / Zipcode", class: "form-control"
					%p.col-md-3=u.country_select :country, { priority_countries: [ "US", "CA", "MX" ] }, { class: "form-control" }

					%p.col-md-6=u.text_field :phone, class: "form-control", placeholder: "Phone"

		#dropin

		%p=f.submit "Place order", class: "btn btn-primary"

:javascript
	braintree.setup("#{@client_token}", "dropin", {
		container: "dropin"
		});
