@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

$bgDefault      : #207a7b;
$bgHighlight    : #696969;
$nbBrand				: #666;
$nbDefault			: #666;
$bgColor				: #fff;
$navbgColor			: #d6d8dc;

body {
	font-family: "Droid-sans";
}
a {
	color: $bgDefault;
}

a:hover {
	color: $bgDefault;
}

h1, h2, h3 {
	font-family:'Amatic SC', cursive;
}

.btn-primary {
	background-color: $bgDefault;
	border-color: $bgHighlight;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $bgHighlight;
}

.nav {
	font-family:'Amatic SC', cursive;
		a {
			font-family:'Amatic SC', cursive;
		}
}

.logo {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	position: relative;
	margin-top: 0.5em;
}

#logo-text {
		font-family: 'Dancing Script', cursive;
}

.tagline {
	margin: -50px 0px 9px;
	color: $nbBrand;
	font-family:'Amatic SC', cursive;
	font-size: 2em;
}

.navbar {
	background: $navbgColor url("symphony.png") repeat right top; /* Background pattern from subtlepatterns.com */
	border-radius: 0px;
	border-top: none;
	border-bottom: 3px solid $bgDefault;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.navbar-header {
	height: 135px;
}
.navbar-default {
	.navbar-brand {
		color: $nbBrand;
		font-family: 'Dancing Script', cursive;
		font-size: 2.5em;
			:hover {
				color: $nbBrand;
			}
	}
	.navbar-nav {
		font-size: 1.8em;
		width: 100%;
		text-align: center;
		.active a {
				color: $bgDefault;
				background-color: transparent;
			}
		.active {
			a:hover {
				color: $bgDefault;
				background-color: transparent;
			}
			a:focus {
				background-color: transparent;
			}
		}
		li {
			float: none;
      display: inline-block;
		}
		li:nth-child(4) a {
			padding-left: 50px;
		}
		li > a {
			color: $nbDefault;
			padding-top: 80px;
			padding-right: 50px;
		}
	}
}

@media (max-width:767px) { 
	.navbar-default {
		.navbar-nav {
			font-size: 2.5em;
			li > a {
				padding-top: 20px;
			}
			li:nth-child(4) a {
				padding-left: 15px;
			}
 		}
 	}
}